<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
        <defaultDocument>
            <files>
                <add value="XSSAttackDemoSite.ashx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <system.web>
	<httpRuntime requestValidationMode="2.0" />
	<pages validateRequest="false" />
  </system.web>
</configuration>